@import "../../responsive.scss";

.homePage {
  display: flex;
  height: 100%;
  flex-direction: row;

  @include sm {
    height: auto;
    margin-top: 30px;
  }

  @include lg {
    flex-direction: row; // Adjust flex-direction for larger screens
    //height: 100vh; // Ensure the height is 100% of the viewport height
  }

  .textContainer {
    flex: 3;

    @include lg {
      order: 1; // Ensure text container is first for larger screens
    }

    .wrapper {
      padding-right: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      height: 100%;

      @include lg {
        padding-right: 40px;
      }

      @include md {
        padding: 0;
      }

      @include sm {
        justify-content: flex-start;
        padding-right: 0;
        gap: 0.5px;
      }

      .title {
        font-size: 64px;

        @include lg {
          font-size: 40px;
        }

        @include md {
          font-size: 30px;
        }

        @include sm {
          font-size: 25px;
        }
      }

      .boxes {
        display: flex;
        justify-content: space-between;

        @include sm {
          display: none;
        }

        h1 {
          font-size: 36px;

          @include md {
            font-size: 28px;
          }

          @include sm {
            font-size: 10px;
          }
        }

        h2 {
          font-size: 20px;
          font-weight: 300;

          @include md {
            font-size: 18px;
          }

          @include sm {
            font-size: 10px;
          }
        }
      }
      .searchBar button {
        display: inline;
        padding: 12px 18px;
        font-size: 20px;
        background: linear-gradient(90deg, #ff6f61, #ff9461);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
      
        &:hover {
          background: linear-gradient(90deg, #501a01, #ff6f61);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
          transform: scale(1.05);
        }
      
        @include sm {
          width: 100%;
          font-size: 12px;
        }
      
        @include lg {
          width: auto; // Ensure buttons are inline with the search bar for larger and medium screens
        }
      }
    }
  }
  .imgContainer {
    flex: 1.95;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end; // Align image to the right for larger screens

    @include lg {
      order: 2; // Ensure image container is second for larger screens
      margin-top: 0; // Remove any margin that might push the image down
    }

    @include md {
      display: none;
    }

    img {
      width: 120%;
      height: 110%;
      position: relative; // Ensure the image stays within the container
    }
  }
}
