@import '../../responsive.scss'; // Import your responsive mixins

.container {
  height: 100vh;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

form {
  min-width: 10rem;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);

  .title {
    font-family: 'Pacifico', cursive;
    color: #212529;
    font-size: 2.5rem;
    text-align: center;
  }

  .form-group {
    position: relative;
    margin-bottom: 2.8rem;

    label {
      display: block;

      .icon {
        color: #57565c;
        height: 1.3rem;
        position: absolute;
        left: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .form-control {
      background-color: #f2f6f8;
      border-radius: 2rem;
      border: none;
      box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
      padding: 0.5rem 3.5rem;
      font-family: 'Quicksand', sans-serif;
      color: #212529;
      font-size: 1.1rem;
      width: 100%;

      &:focus {
        background-color: #f2f6f8;
        border: none;
        box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
      }
    }
  }

  .message .form-control {
    padding: 0.3rem 1.5rem;
  }

  ::placeholder {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #838788;
    position: relative;
    left: 0;
  }

  .btn.btn-primary {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    height: 2rem;
    line-height: 1.5rem;
    padding: 0 3rem;
    border: 0;
    border-radius: 2rem;
    background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
    background-size: 300% 100%;
    transition: all 0.3s ease-in-out;

    &:hover:enabled {
      box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
      background-size: 100% 100%;
      transform: translateY(-0.15em);
    }
  }

  @include sm {
    form {
      min-width: 12rem;
    }
  }

  @include md {
    form {
      min-width: 20rem;
    }
  }

  @include lg {
    form {
      min-width: 25rem;
    }
  }
}
