nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height: 100px;
    
    a{
        transition: all 0.4s ease;
    

    &:hover{
        scale:1.05s;
    }

    .left{
        flex: 3;
        display: flex;
        gap:50px;
        align-items: center;
        
        .logo{
            font-weight: bold;
            font-size:20px;
            display: flex;
            gap: 10px;
            align-items: center;

            img{
                width:50px;
            }
        }
    }

    .right{
        flex:2;
        display:flex;
        align-items: center;
        justify-content: flex-end;
        background-color: rgb(208, 230, 234);
        height:100%;
        
        a{
            padding:12px 24px;
            margin:20px;
        }
        .register{
            background-color: #fece51;
        }
    }
}