.homePage {
    display: flex;
    height: 100%;

    .textContainer {
        flex: 3;
    }

    .imgContainer {
        flex: 2;
        background-color: #bdee69;
        position: relative;
        display: flex;
        align-items: center;
       

        .bg {
            width: 110%;
            height: 100%;
            position: absolute;
            right:0;
            opacity: 0.8; // Slightly transparent
            z-index: 1; // Background image at lower z-index
        }

    }
}
