.homePage{
    display: flex;
    height:100%;

    .textContainer{
        flex:3;
    }

    .imgContainer{
        flex:2;
        background-color:#bdee69;
        position:relative;
        display: flex;

    img{
    width: 115%;
    position: absolute;
    right: 0;
}
}
}