.homePage {
    display: flex;
    height: 100%;

    .textContainer {
        flex: 3;
    }

    .imgContainer {
        flex: 2;
        background-color: #fbe4e8;
        position: relative;
        display: flex;
        align-items: center;
       

        .bg {
            width: 110%;
            height: 100%;
            position: absolute;
            right:0;
        }

    }
}
