@import "./responsive.scss";

.layout {
  height: 100vh;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;

  @include lg {
 background-color:#fcf9f9;
    max-width: 1280px;
  }

  @include md {
    background-color:#cdff43;  
    max-width: 768px;
  }

  @include sm {
    background-color: #97d440;
    max-width: 640px;
  }
  .content{
    
    flex:1;
  }
}
